*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.form-body{
    /* display: flex;
    flex-direction: column; */
    width: 60%;
    height: 50vh;
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0px 5px 7px 10px rgba(0, 0, 0, .20);
}
form{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    /* transform: translateX(30%); */
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
@media screen and (max-width: 900px) {
    form{
        transform: translateX(0%);
        /* margin-bottom: -2rem; */
    }
}

.get-repo{
    display: flex;
    outline-width: 0;
    border: none;
    padding: 10px;
    background-color: rgb(19, 1, 26);
    margin: 10px 0;
    border-radius: 10px;
    color: white;
    width: 50%;
}
@media screen and (max-width: 900px) {
   .get-repo{
       width: 100%;
   }
}

.btn{
    padding: none;
    outline-width: 0;
    background-color: rgb(19, 1, 26);
    border: none;
    padding: 0 5px;
    margin: 15px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 10rem;
    height: 2rem;
    /* transform: translateX(50%); */
}
@media screen and (max-width: 900px) {
    .btn{
        transform: translateX(0%);
        /* margin-bottom: -2rem; */
    }
}

.repo-lists{
    list-style: none;
}

.user-data{
    margin-top: .5rem;
    text-align: center;
    display: none;
}

.processing{
    color: #037fff;
    
}

.fa-spinner{
    color: red;
    font-size: 1.5rem;
    margin-top: .8rem;
    animation: .7s spin linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}